
@model IEnumerable<Mini_CarSales.Models.VehicleDetails>

@{
    ViewBag.Title = "List Of Vehicles";
}

<div class="row">
    <div class="col-lg-offset-5">
        <h2>List Of Vehicles</h2>
    </div>
    <div class="col-lg-offset-1 col-lg-2">
        @Html.ActionLink("Create New", "CreateVehicle","Vehicle")
    </div>
</div>

<body >
    <div >
        
        <table class="table">
            <thead>
                <tr></tr>

            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr class="row">
                            <td class="col-lg-6">
                                <img style="height:300px;width:500px" class="img-responsive thumbnail" src="@Url.Content(@item.ImagePath)" />
                            </td>
                            
                            <td class="col-lg-6">
                                @*<span class="row">
                                    ID: @item.Id
                                </span>*@
                                <span class="row">
                                    <span class="col-lg-4"></span>
                                    <span class="col-lg-6"></span>
                                    <span class="col-lg-2"><button class="btn btn-default" style="height:30px;width:30px;"><span class="glyphicon glyphicon-edit"></span></button></span>

                                </span>
                                <span class="row">
                                    <span class="col-lg-4">Make</span>
                                    <span class="col-lg-4">Model</span>
                                    <span class="col-lg-4">Engine</span>
                                   
                                </span>
                                <span class="row">
                                    <span class="col-lg-4"><b> @item.MakeName</b></span>
                                    <span class="col-lg-4"> <b>@item.ModelName</b></span>
                                    <span class="col-lg-4"> <b>@item.EngineName</b></span>
                                </span>
                                <br/>
                                <span class="row">
                                    <span class="col-lg-4">Doors</span>
                                    <span class="col-lg-4">Wheels</span>
                                    <span class="col-lg-4">Type</span>

                                </span>
                                <span class="row">
                                    <span class="col-lg-4"><b> @item.Doors</b></span>
                                    <span class="col-lg-4"> <b>@item.Wheels</b></span>
                                    <span class="col-lg-4"> <b>@item.Type</b></span>
                                </span>
                               
                               <br />                                                          
                            </td>                                                                                                              
                        </tr>
                }
                }
            </tbody>


        </table>

    </div>
</body>
