

@{
    ViewBag.Title = "List Of Vehicles";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div class="container" style="border:solid 1px;padding-top:1em" >
    @*<div class="row">
        <div class="col-lg-offset-5">
            <h2>List Of Vehicles</h2>
        </div>
    </div>*@
   


    @{
        AjaxOptions options = new AjaxOptions()
        {
            Url = Url.Action("LoadVehicles"),
            UpdateTargetId = "DataSetion",
            //Confirm = "Are you sure you want to refresh the data?",
            //OnBegin = "BeginRequest",
            //OnSuccess = "",
            //OnComplete = "",
            //OnFailure = "",
            HttpMethod = "GET",
            LoadingElementId = "loadingText",
            LoadingElementDuration = 6000
        };
    }

   



    

    @using (Ajax.BeginForm(options))
    {
        <div class="row" style="background-color:lightblue;padding-top:1em">
            <div class="col-lg-5">
                <label>
                   <b>Vehicle Type :</b> @Html.DropDownList("vehTypeId", new SelectList(new[] { "All", "Car", "Bike" }, "--Select--"), new { style = "height:50px;width:300px" })
                </label>
                <button class="btn btn-default" style="height:50px;width:50px"><span class="glyphicon glyphicon-refresh"><span id="loadingText" style="display: none"></span> </span></button>
            </div>
            
            <div class="col-lg-2">
               <input type="button" class="btn btn-primary" style = "height:50px;width:150px" value="CreateVehicle" onclick="location.href='@Url.Action("CreateVehicle", "Vehicle")'" />
            </div>
            <span> </span>
            <div class="col-lg-2">
               <input type="button" class="btn btn-primary" style = "height:50px;width:150px" value="AddCar" onclick="location.href='@Url.Action("AddCar", "Vehicle")'" />
            </div>
            <span> </span>
            <div class="col-lg-2">
               <input type="button" class="btn btn-primary" style="height:50px;width:150px" value="AddBike" onclick="location.href='@Url.Action("AddBike", "Vehicle")'" />
            </div>
            
        </div>

    }


    <table class="table" style="padding-top:2em">
        <thead>
            <tr></tr>

        </thead>
        <tbody id="DataSetion">
            @Html.Action("LoadVehicles", new { vehTypeId = "" })
        </tbody>


    </table>

    @*<div id="DataSetion">
            @Html.Action("LoadVehicles", new { vehTypeId = "" }, new { vehTypeId = "" })
        </div>*@



</div>